// Transistion mixin for multi-browser support
// Pass arguments as comma separated values, just like normal ...
@mixin transition($arguments...) {
    -webkit-transition: $arguments;
    -moz-transition: $arguments;
    -ms-transition: $arguments;
    -o-transition: $arguments;
    transition: $arguments;
}

// Transform mixin for multi-browser support
// Pass arguments as comma separated values, just like normal ...
@mixin transform($arguments...) {
    -webkit-transform: $arguments;
    -moz-transform: $arguments;
    -ms-transform: $arguments;
    -o-transform: $arguments;
    transform: $arguments;
}

// Transform Origin mixin for multi-browser support
@mixin transformOrigin($position) {
    -webkit-transform-origin: $position;
    -moz-transform-origin: $position;
    -o-transform-origin: $position;
    transform-origin: $position;
}

@mixin boxShadow($properties) {
    -webkit-box-shadow: $properties;
    -moz-box-shadow: $properties;
    box-shadow: $properties;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

