$zIndex: (
    base: 0,
    headerView: 100,
    contentView: 100,
    headerModal: 200,
    aboveBacking: 10,
    contentModal: 1000,
    aboveAll: 9000,
);

@function zIndex($element) {
    @return map-get($map: $zIndex, $key: $element );
}

@mixin zIndex($element) {
    z-index: zIndex($element);
}