.set-manager {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .menu-modal {
        width: 400px;
        height: 400px;
        background-color: #555;
        display: none;

        
        &.isOpen {
            display: flex;
        }
    }
}