.theme-toggle-container {
    @include displayFlex();

    .icon-container {
        width: 16px;
        margin-right: 10px;
        pointer-events: none;
        @include transitionAll(.4s);
        position: relative;
        @include zIndex(aboveBacking);
        position: relative;
        top: 4.5px;
        left: 9px;

        &.isNight {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        svg {
            fill: useTheme(sliderIcon);
            pointer-events: none;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        @include dimensions(60px, 34px)
    }

    .switch input {
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: useTheme(sliderBacking);
        -webkit-transition: .4s;
        transition: .4s;
        outline: 2px solid useTheme(greyScale2);
        box-shadow: inset 0 0 17px 4px #00000090;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: useTheme(sliderThumb);
        -webkit-transition: .4s;
        transition: .4s;
        @include dropShadow(1px 2px 5px $cPureBlack);
    }

    input:checked+.slider {
        background-color: useTheme(sliderChecked);
    }

    // input:focus+.slider {
    //     box-shadow: 0 0 1px useTheme(sliderChecked);
    // }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}