.theme-toggle-container {

    .icon-container {
        @include transitionAll(.4s);
        position: relative;
        @include zIndex(aboveBacking);
        top: 4px;
        left: 9px;
        cursor: pointer;
        @include dimensions(26px, 26px);
        left: 4px;
        bottom: 4px;
        background-color: useTheme(sliderThumb);
        @include transitionAll(.4s);
        @include dropShadow(1px 2px 5px $cPureBlack);
        @include borderRadius(50%);
        @include displayFlex();
        @include flexCenter();

        .svg-icon-container {
            @include dimensions(80%, 80%);
        }

        &.isNight {
            @include transform(translateX(26px));
        }

        svg {
            fill: useTheme(sliderIcon);
            @include transitionAll(.4s);
            cursor: pointer;

            &:hover {
                transform: scale(.9);
            }
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        @include dimensions(60px, 34px)
    }

    .switch input {
        visibility: hidden;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: useTheme(sliderBacking);
        @include transitionAll(.4s);
        outline: 2px solid useTheme(greyScale1);
        @include boxShadow(inset 0 0 12px 2px #00000072);
        @include borderRadius(34px);
    }

    input:checked+.slider {
        background-color: useTheme(sliderChecked);
    }

    input:checked+.slider-thumb {
        @include transform(translateX(26px));
    }
}