.content-view {
    height: calc(100% - $header-height);
    border: 5px solid blue;
    background-color: useTheme(greyScale7);
    color: useTheme(textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    @include transitionAll(0.2s);
    flex-direction: column;

    p {
        max-width: 70%;
        font-size: 20px;
        margin-bottom: 30px;
    }

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-top: 0;
        font-weight: 300;
    }

    code {
        padding: 5px 8px;
        color: useTheme(textColor);
        font-size: 18px;
    }
}