.header-view {
    height: $header-height;
    border: 5px solid grey;
    background-color: style(bgColor);
    color: style(textColor);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    button {
        padding: 6px 12px;
    }
}