// Theme (based off 'Alpha-Centauri' - #4d5778)
$cPrimaryDark       : #363d54;
$cPrimary           : #4d5778;
$cPrimaryMid        : #525a72;
$cPrimaryLight      : #808aad;
$cPrimaryLighter    : #8f98b7;
$cPrimaryLightest   : #a3aac3;

// Standard Elements
$cLinks             : #459bd9;
$cTypographyLight   : #dedede;
$cTypographyDark    : #1c1c1c;
$cShadow            : #13161f;

// Greyscale
$cTransparent       : transparent;

$cPureBlack         : #000000;
$cGreyDarkest       : #121216;
$cGreyDarker        : #161616;
$cGreyDark          : #1e1e1e;
$cGreyMid           : #2d2d32;
$cGrey              : #474756;
$cGreyLight         : #5a5a6c;
$cGreyLightest      : #6c6c82;

$cWhiteDarkest      : #aaaac1;
$cWhiteDarker       : #b5b5c9;
$cWhiteDark         : #c4c4d3;
$cWhiteMid          : #cdcdda;
$cWhite             : #dbdbe5;
$cWhiteLight        : #e5e5ec;
$cWhiteLightest     : #eeeef2;
$cPureWhite         : #ffffff;