// Theme (based off 'Alpha-Centauri' - #4d5778)
$cPrimaryDark       : #363d54;
$cPrimary           : #4d5778;
$cPrimaryLight      : #525a72;
$cSecondaryDark     : #808aad;
$cSecondary         : #8f98b7;
$cSecondaryLight    : #a3aac3;

// Standard Elements
$cLinks             : #459bd9;
$cTypographyLight   : #dedede;
$cTypographyDark    : #1c1c1c;
$cShadow            : #13161f;

// Greyscale
$cBlack             : #000000;
$cWhite             : #ffffff;
$cTransparent       : transparent;
$cGreyDarkest       : #121216;
$cGreyDarker        : #161616;
$cGreyDark          : #1e1e1e;
$cGreyMid           : #2d2d32;
$cGrey              : #474756;
$cGreyLight         : #5a5a6c;
$cGreyLightest      : #6c6c82;